[Unit]
Description=GABpbx PBX and telephony daemon.
After=network.target
#include these if gabpbx need to bind to a specific IP (other than 0.0.0.0)
#Wants=network-online.target
#After=network-online.target network.target

[Service]
Type=notify
Environment=HOME=/var/lib/gabpbx
#if systemd do not provide hostname and you need to use ${ENV(HOSTNAME)}
#Environment=HOSTNAME=%H
WorkingDirectory=/var/lib/gabpbx
User=gabpbx
Group=gabpbx
ExecStart=/usr/sbin/gabpbx -mqf -C /etc/gabpbx/gabpbx.conf
ExecReload=/usr/sbin/gabpbx -rx 'core reload'
#if /var/run is a tmpfs, this will create /var/run/gabpbx on start
#RuntimeDirectory=gabpbx

#Nice=0
#UMask=0002
LimitCORE=infinity
#LimitNOFILE=
Restart=always
RestartSec=4

# Prevent duplication of logs with color codes to /var/log/messages
StandardOutput=null

PrivateTmp=true

[Install]
WantedBy=multi-user.target
