[Unit]
Description=GABpbx HTTPS Socket

[Socket]
Service=gabpbx.service
FreeBind=true
ListenStream=127.0.0.1:8089

[Install]
WantedBy=sockets.target
RequiredBy=gabpbx.service
