[Unit]
Description=GABpbx HTTP Socket

[Socket]
Service=gabpbx.service
FreeBind=true
ListenStream=127.0.0.1:8088

[Install]
WantedBy=sockets.target
RequiredBy=gabpbx.service
